.ion-page {
  display: block !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hedding {
  font-size: 31px;
  font-weight: bold;
  color: #8870e6;
}

.small-hedding {
  font-size: 20px !important;
}

.card_icon_size {
  font-size: 30px;
  border-radius: 50%;
  background-color: #ffc8e9;
  color: #ea0f7d;
  padding: 15px;
}
.card1_main {
  background-color: #c6c9ff;
}
.card_image {
  width: 110px;
  height: 110px;
  padding: 10px;
}
.crd2_hedding {
  font-size: 20px !important;
}

.slide1 {
  background-image: url(../assets/images/tab-1\ image/Group1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  /* background-size: contain; */
  width: 100%;
  height: 450px;
  position: relative;
  /* border: 3px solid red; */
  /* background-color:#ea0f7d !important; */
}

.slide1_contain {
  position: absolute;
  bottom: 50px;
  left: 70px;
}

@media only screen and (max-width: 460px) {
  .hedding {
    font-size: 20px;
  }
  .small-hedding {
    font-size: 16px !important;
  }
  .card_icon_size {
    font-size: 22px;
  }
  .card_image {
    width: 80px;
    height: 80px;
    padding: 6px;
  }
  .crd2_hedding {
    font-size: 16px !important;
  }
}
